#respuesta{
    display: flex;
    gap: 1rem;
}

.Blocks-Two{
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25rem solid rgba(151, 0, 156, 0.541);
    border-radius: 0.8rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    transition: background-color 0.2s;
    cursor: pointer;
}

.Blocks-Two.Path {
    background-color: rgba(189, 144, 247, 0.63);
    color: black;
}

.Block-Answer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem; 
    height: 2rem; 
    border-radius: 10%;
}


