#respuesta{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Blocks-Two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: 0.25rem solid rgba(151, 0, 156, 0.541);
    border-radius: 0.8rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.Blocks-Two.Path {
    background-color: rgba(189, 144, 247, 0.63);
    color: black;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.Block-Answer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: 0.25rem solid rgba(255, 0, 0, 0.363);
    border-radius: 0.8rem;
    background-color: rgb(247, 144, 144);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}


